$theme-show-notifications: false;
$theme-image-path: "/columbus-civic-associations/assets/uswds/img";
$theme-font-path: "/columbus-civic-associations/assets/uswds/fonts";
$float-settings: ( responsive: true )